@font-face {
    font-family: 'Figtree';
    src: url(fonts/Figtree-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFD43B;
}

main {
    width: 350px;
    background-color: #F2F2F2;
    border: 1px solid black;
    border-radius: 18px;
    box-shadow: 8px 8px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

img {
    border-radius: 15px;
}

.text {
    padding: 8px;
}

p, h1 {
    font-family: 'FigTree';
    margin: 10px 0;
}

.learning-text {
    width: 80px;
    background-color: #FFD43B;
    padding: 4px;
    border-radius: 4px;
}

.date {
    font-size: small;
}

h1 {
    font-size: 1.38rem;
}

.content-text {
    color: #838383;
}

.profile {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.profile-picture {
    width: 40px;
    margin-right: 10px;
}
